.homepage {
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  height: 100%
}

.home-left-page {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: image_url('chirp-home.jpeg');
  background-size: cover;
}

.home-left-text-box {
  margin: auto;
  width: 50%;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.home-left-text {
  margin-bottom: 40px;
}

.homepage-right {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.home-login {
  position: relative;
  top: 30px;
}

.login-email {
  border: 1px solid #eaeaed;
  padding: 15px;
  width: 170px;
  font-size: 15px;
  border-radius: 3px;
  margin-right: 10px;
  color: grey;
  outline: none;
    &:focus {
      border: 0.5px solid #1DA1F2;
      color: lightgrey;
    }
}

.login-password {
  border: 1px solid #eaeaed;
  padding: 15px;
  width: 170px;
  font-size: 15px;
  border-radius: 3px;
  outline: none;
  color: grey;
    &:focus {
      border: 0.5px solid #1DA1F2;
      color: lightgrey;
    }
}

.login-submit {
  border: 1px solid  #1DA1F2;
  border-radius: 20px;
  color:  #1DA1F2;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
    &:hover {
      background: #dbf1ff;
    }
}

.home-signup-text {
  margin: auto;
}

.signup-email {
  border: 1px solid #eaeaed;
  padding: 15px;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  margin-right: 10px;
  color: grey;
  outline: none;
    &:focus {
      border: 0.5px solid #1DA1F2;
      color: lightgrey;
    }
}

.signup-password {
  border: 1px solid #eaeaed;
  padding: 15px;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  color: grey;
    &:focus {
      border: 0.5px solid #1DA1F2;
      color: lightgrey;
    }
}

.signup-submit {
  border: 1px solid  #1DA1F2;
  border-radius: 20px;
  color: white;
  background: #1DA1F2;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
  width: 29%;
  height: 10%;
  cursor: pointer;
    &:hover {
      background: #014abf;
      border: 1px solid #014abf;
    }
}

.home-logo {
  width: 50px;
  height: 50px;
}

.home-text1 {
  font-size: 25px;
  font-weight: 700;
  width: 350px;
  margin-top: 20px;
}

.home-text2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}
