.navbar-container {
  display: flex;
  height: 50px;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  align-items: center;
}

.user-home-logo {
  height: 30px;
  width: 30px;
}

.right-nav-links {
  display: flex;
}

.dropdown-full {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
}

.dropdown-profile {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.dropdown-logout {
  outline: none;
  border: none;
}
