.navbar-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}

.user-home-logo {
  height: 30px;
  width: 30px;
}

.right-nav-links {
  display: flex;
  margin-right: 120px;
  height: 49px;
  align-items: center;
}

.dropdown-full {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
}

.dropdown-profile {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.user-dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-logout {
  outline: none;
  border: none;
  cursor: pointer;
}

.home-button {
  outline: none;
  color: #2AA3EF;
  border: none;
  border-bottom: 3px solid white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  margin-left: 120px;
  height: 49px;
    &:hover{
      border-bottom: 3px solid #2AA3EF;
    }
}

.post-button {
  border: 1px solid  #50B4F2;
  border-radius: 20px;
  color: white;
  background: #50B4F2;
  margin-left: 10px;
  font-weight: 700;
  height: 35px;
  width: 60px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
    &:hover {
      background: #2AA3Ef;
      border: 1px solid #2AA3Ef;
    }
}
