.user-home-page {
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  background-color: #E6ECF0;
  height: 100%;
  overflow: auto;
}

.full-user-home-page {
  height: 100%
}

.post-list-index {
  grid-column-start: 2;
  background-color: white;
  border-top: 10px solid #E6ECF0;
}

.post-shortcut-container {
  grid-column-start: 2;
  background: #E9F5FD;
  width: auto;
  height: 38px;
  padding: 10px;
}

.post-shortcut-activate {
  height: 20px;
  width: 515px;
  position: relative;
  padding: 8px;
  top: -7px;
  border: 1px solid #C7E7FA;
  border-radius: 5px;
  outline: none;
    &::placeholder {
      color: #41ADF1;
    }
}

.post-index-item {
  cursor: pointer;
}

.post-shortcut-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

.logout-button {
  grid-column-start: 2;
}

.post-content {
  list-style: none;
  border-bottom: 1px solid lightgrey;
}

.post-form-box {
    height: 100%;
}

.modal-window {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  overflow: scroll;
}

.post-form-container {
  text-align: center;
  margin: 40px auto auto auto;
  width: 610px;
  height: 208px;
  background-color: #E9F6FD;
  z-index: 4;
  border-radius: 10px;
}

.post-create-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 10px;
}

.post-create-header {
  display: flex;
  text-align: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #CAE8FB;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-create-close-icon {
  height: 25px;
  position: relative;
  top: 5px;
  margin-right: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: lightgrey;
}

.post-create-header-text {
  font-weight: 700;
  margin: auto;
  font-family: 'IBM Plex Sans', sans-serif;
}

.post-body-section {
  display: flex;
  margin-top: 10px;
}

.post-create-body {
  height: 64px;
  width: 525px;
  border: 2px solid #A6DAF8;
  border-radius: 10px;
  outline: none;
  resize: none;
  padding: 8px;
  font-size: 14px;
    &::placeholder {
      color: lightgrey;
    }
}

.post-submit-container {
  display: flex;
  height: 63px;
  justify-content: flex-end;
  text-align: center;
}

.post-submit {
  border: 1px solid  #50B4F2;
  border-radius: 20px;
  color: white;
  background: #50B4F2;
  margin-left: 10px;
  font-weight: 700;
  height: 35px;
  width: 60px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin: 10px 10px 0 0;
  &:disabled {
    background: #BBE2FA;
    border: 1px solid #BBE2FA;
    cursor: not-allowed;
  }
    &:hover:enabled {
      background: #2AA3Ef;
      border: 1px solid #2AA3Ef;
    }
}

.post-form-box-shortcut {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #E9F6FD;
  grid-column-start: 2;
}

.post-body-section-shortcut {
  display: flex;
  padding-top: 10px;
}

.post-create-body-shortcut {
  height: 64px;
  width: 515px;
  border: 2px solid #A6DAF8;
  border-radius: 10px;
  outline: none;
  resize: none;
  padding: 8px;
  margin-right: 10px;
  font-size: 14px;
    &::placeholder {
      color: lightgrey;
    }
}
